<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= movie.title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="bg-red-400 py-2 mb-5 text-white">
    <h1 class="text-4xl font-bold text-center mb-3"><%= movie.title %></h1>
    </div>
    <div class="container mx-auto">
      <div class="flex flex-col gap-4 mb-7">
        <p><strong>Titulo:</strong> <%= movie.title %></p>
        <p><strong>CALIFICACÓN:</strong> <%= movie.rating %></p>
        <p><strong>PREMIOS:</strong> <%= movie.awards %></p>
        <p><strong>DURACIÓN:</strong> <%= movie.length + ' min'%></p>
        <p><strong>FECHA DE ESTRENO:</strong> <%= movie.release_date %></p>

        <% if(movie.genres) { %>
        <div><strong>Genero</strong>: <%=movie.genres.name%></div>
        <%} %>
        <div>
          <strong>Actores:</strong>
          <ul class="flex gap-4">
            <% for ( let i=0; i < movie.actors.length; i++ ) { %>
            <li class="bg-blue-600 text-white rounded-md p-2">
              <%= movie.actors[i].first_name %> <%= movie.actors[i].last_name %>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="flex flex-col items-center gap-2 text-center">
        <a class="botonVolver bg-blue-400 text-white p-2 rounded-md w-60" href="/movies">Pagina principal</a>

        <a href="/movies/edit/<%= movie.id %>" class="bg-blue-600 text-white p-2 rounded-md w-60">Editar</a>
        <a href="/movies/delete/<%= movie.id %>" class="bg-red-500 text-white p-2 rounded-md w-60">Eliminar</a>
      </div>
    </div>
  </body>
</html>
